@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {

    font-family: 'Quicksand', sans-serif;
    background-color: #e3f6f5;
    color: #2d334a;
}
a {
    color: red;
}
a:hover{

    color:green
}